@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* background-image: url("../blurry-background.svg");*/

    --background: 120 30% 98%;
    --foreground: 120 38% 5%;

    --card: 140 25% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 120 2% 98%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 152 76% 43%; */
    --primary: 152 76% 57%;
    --primary-foreground: 120 38% 5%;

    --secondary: 202 10% 84%;
    /* --secondary: 168, 46%, 73%; */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 120 2% 85%;
    --muted-foreground: 215.4 0% 50%;
    --muted-text: 120 2% 55%;

    /* --accent: 45 93% 58%; */
    --accent: 21, 89%, 52%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    /* --destructive: 5 88% 57%; */
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 75%;
    --input: 0 0% 85%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 4%;
    /* --background: 140 10% 0%; */
    --foreground: 265 40% 98%;

    --card: 0 0% 6%;
    /* --card: 120 2% 9%; */
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 152 76% 43%;

    --primary-foreground: 222.2 47.4% 11.2%;

    /* --secondary: 217.2 32.6% 17.5%; */
    --secondary: 0, 0%, 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 75%;

    /* --accent: 45 93% 58%; */
    --accent: 21, 89%, 52%;
    --accent-foreground: 222.2 47.4% 98.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
