@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* background-image: url("../blurry-background.svg");*/

    --background: 0 0% 98%;
    --foreground: 120 38% 5%;

    --card: 210 10% 68%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 120 2% 98%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 152 76% 43%; */
    --primary: 152 76% 57%;
    --primary-foreground: 120 38% 5%;

    --secondary: 0 0% 80%;
    /* --secondary: 168, 46%, 73%; */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 120 2% 85%;
    --muted-foreground: 215.4 0% 50%;
    --muted-text: 120 2% 55%;

    --accent: 45 93% 58%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 85%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 2% 9%;
    --foreground: 265 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 152 76% 43%;

    --primary-foreground: 222.2 47.4% 11.2%;

    /* --secondary: 217.2 32.6% 17.5%; */
    --secondary: 0, 0%, 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 75%;

    --accent: 45 93% 58%;
    --accent-foreground: 222.2 47.4% 98.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
